*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Poppins;
}

.container{
    display: flex;
}

.container .card{
    width: 250px;
    overflow: hidden;
}

.container img{
    width: 100%;
}