*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Poppins;
}

body{
    background: #FDF0F0;
}

:root {
    --primary-color: #071597;
    --secondary-color: #6c757d;
}

.container{
    width: 90%;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

header{
    height: 120px;
    display: flex;
    align-items: center;
}

header>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header>div>a{
    display: flex;
    align-items: center;
    gap: 10px;
}

header>div>a>span{
    font-size: 18px;
    color: #231E1E;
}

header>div>nav>ul{
    list-style: none;
    display: flex;
    gap: 70px;
    color: #676262;
}
header>div>nav a{
    color: #676262;
    font-size: 18px;
}

header>div>div:last-child{
    display: flex;
    align-items: center;
    gap: 40px;
    position: relative;
}

header>div>div>a{
    font-size: 20px;
}

header>div>div>a:first-child{
    color: #170743;
}

header>div>div>a:first-child::before{
    content: "";
    position: absolute;
    left: -70px;
    top: 50%;
    width: 50px;
    height: 2px;
    background-color: #DCDADA;
    transform: rotate(90deg);
}

header>div>div>a:last-child{
    padding: 5px 25px;
    border-radius: 7px;
    background-color: var(--primary-color);
    color: #FFF;
}


/* Start Hero */

.hero{
    height: calc(100vh - 120px);
    background-image: url("../images/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero>div{
    width: 860px;
    color: #FFF;
    text-align: center;
}

.hero h1{
    font-size: 54px;
}

/*  */

body>section:nth-child(3){
    padding: 60px 0;
}

body>section:nth-child(3) h1{
    font-size: 42px;
    color: #231E1E;
    width: 599px;
}


body>section:nth-child(3) .text>div{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

body>section:nth-child(3) .text>div>div:first-child{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

body>section:nth-child(3) .text>div>div>img{
    width: 31.5px;
}

body>section:nth-child(3) .text>div>div:last-child{
    width: 422px;
    color: #676262;
    font-size: 18px;
}

body>section:nth-child(3) .text>div>div>h4{
    color: #231E1E;
    font-size: 24px;
}

body>section:nth-child(3)>div>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body>section:nth-child(3)>div>div .pr-img img{
    width: 530px;
}


/*  */

body>section:nth-child(4){
    padding: 50px 0;
}

body>section:nth-child(4) h1{
    width: 620px;
    font-size: 42px;
    color: #231E1E;
    padding-bottom: 30px;
}

body>section:nth-child(4) form{
    width: 822px;
    background: #FFF;
    padding: 20px;
    border-radius: 10px;
}

body>section:nth-child(4) form>div{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}
body>section:nth-child(4) form>div>input{
    width: 371px;
    height: 62px;
    font-size: 18px;
    padding: 10px;
    outline: none;
    border: none;
    background: #FDF0F0;
    color: #676262;
    border-radius: 7px;
}

body>section:nth-child(4) form>textarea{
    width: 100%;
    height: 150px;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 10px;
    background: #FDF0F0;
    color: #676262;
    border-radius: 7px;
    margin-bottom: 20px;

}

body>section:nth-child(4) form>button{
    width: 371px;
    background: var(--primary-color);
    outline: none;
    border: none;
    color: #FFF;
    height: 62px;
    border-radius: 7px;
    cursor: pointer;
}


/* Footer */

footer{
    background: #DAA520;
    color: #FFF ;
    padding: 50px 0;
}

footer>div{
    display: flex;
    gap: 70px;
}

footer h4{
    margin-bottom: 30px;
}

footer ul{
    list-style: none;
}

footer ul>li{
    margin-bottom: 30px;
}

footer ul>li>a{
    display: flex;
    align-items: center;
    gap: 20px;
}

footer a{
    color: #FFF;
}

footer>div>div:first-child{
    width: 310px;
}

footer>div>div:first-child>div{
    margin-bottom: 30px;
}

footer>div>div:first-child>div>a{
    display: flex;
    align-items: center;
    gap: 10px;
}