

section.content{
    width: 93.6%;
    /* height: 274px; */
    margin-top: 24px ;
    margin-left:36px ;
    background-color:#FFFFFF;
    padding: 24px 0px;

}

.content .table-title{
    box-sizing: border-box;
    color: #231E1E;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: .75px;
    display: block;
    margin-left: 32px;
    
}

table{
    width: 95.14%;
    margin-left: 32px;
    margin-top: 16px;
}


th{
    background-color: #FDF0F0;
    color: #231E1E;
    font-size: 12px;
    border-radius: 8px; 
    font-weight: 500;
    line-height: 16.8px;
    padding: 10px 0 13px 26px ;
    border: none;
    text-align:left;   
}

td{
    margin-bottom: 16px;
    color: #676262;
    box-sizing: border-box;
    font-size: 14px; 
    font-weight: 400;
    line-height: 16.8px;
    padding: 10px 0 8px 26px ;
}

td div i{
    margin-right: 10px;
    color: #071597;
    font-size: 22px;
    font-weight: 500;
}